body{
  margin:0;
  padding:0;
  font-family: 'Noto Sans TC', sans-serif;
  background-color: black;

}
div{
  background-color: white;
}
footer{
  bottom: 0;
  width: 90%;
  background: white;
  padding-top: 25px;
  padding-bottom: 25px;
}
.threeBox{
  width: 33.33%;
  margin: auto;
  float: left;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: black;
  color: white;
}

.contentBoxRow{
  width: 100%;
  content: "";
  clear: both;
  display: table;
}

.spacer{
  height: 50px;
  content: "";
}

.fiveContentBox{
  float: left;
  text-align: center;
  width: 20%;
  /* padding-left: 20px;
  padding-right: 20px; */
  padding: 25px 0;

}
.twoContentBox{
  float: left;
  /* text-align: center; */
  width: 46%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 25px;
  padding-bottom: 25px;

}

.movieListingImg{
  width: 90%;
}

#mainContainer {
  margin: 0 auto;
  width: 90%;
  height: 100%;
}

#companyName{
  font-size: 18pt;
  padding-left: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
}

@media screen and (max-width: 900px) {
  #serverContent, #serverContent2 {
    width: 49%;
    display: inline-block;
    vertical-align: top;
  }

  .fiveContentBox {
    width: 100%;
  }

  .movieListingImg {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  #serverContent, #serverContent2 {
    width: 100%;
    display: inline-block;
    vertical-align: top;
  }

  .fiveContentBox {
    width: 100%;
  }

  .movieListingImg {
    width: 70%;
  }

  .threeBox {
    width: 100%;
    padding: 10px 0;
  }

  #companyName {
    text-align: center;
    padding-left: 0;
  }

  .twoContentBox {
    width: 100%;
  }
}
